[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.8.1"
aiosignal = "==1.2.0"
anyio = "==3.6.1"
asn1crypto = "==1.5.1"
async-timeout = "==4.0.2"
asynctest = "==0.13.0"
attrs = "==22.1.0"
base58 = "==2.1.1"
bech32 = "==1.2.0"
bip-utils = "==2.6.0"
bitarray = "==2.6.0"
blspy = "==1.0.14"
cachetools = "==5.2.0"
cbor2 = "==5.4.3"
certifi = "==2022.6.15"
cffi = "==1.15.1"
chardet = "==3.0.4"
charset-normalizer = "==2.1.0"
click = "==8.1.3"
coincurve = "==17.0.0"
cosmpy = "==0.5.1"
crcmod = "==1.7"
cytoolz = "==0.12.0"
dnspython = "==2.2.1"
ecdsa = "==0.18.0"
ed25519-blake2b = "==1.4"
eth-abi = "==2.2.0"
eth-account = "==0.5.9"
eth-hash = "==0.3.3"
eth-keyfile = "==0.5.1"
eth-keys = "==0.3.4"
eth-rlp = "==0.2.1"
eth-typing = "==2.3.0"
eth-utils = "==1.10.0"
fastapi = "==0.78.0"
frozenlist = "==1.3.1"
google-api-core = "==2.8.2"
google-api-python-client = "==2.56.0"
google-auth = "==2.10.0"
google-auth-httplib2 = "==0.1.0"
google-cloud = "==0.34.0"
google-cloud-core = "==2.3.2"
google-cloud-secret-manager = "==2.12.2"
google-cloud-storage = "==2.5.0"
google-crc32c = "==1.3.0"
google-resumable-media = "==2.3.3"
googleapis-common-protos = "==1.56.4"
grpc-google-iam-v1 = "==0.12.4"
grpcio = "==1.47.0"
grpcio-status = "==1.47.0"
gunicorn = "==20.1.0"
h11 = "==0.13.0"
hexbytes = "==0.2.3"
httplib2 = "==0.20.4"
idna = "==2.8"
importlib-metadata = "==4.12.0"
importlib-resources = "==5.9.0"
ipfshttpclient = "==0.8.0a2"
jsonschema = "==4.9.1"
lru-dict = "==1.1.8"
multiaddr = "==0.0.9"
multidict = "==6.0.2"
netaddr = "==0.8.0"
parsimonious = "==0.8.1"
pkgutil-resolve-name = "==1.3.10"
proto-plus = "==1.22.0"
protobuf = "==3.20.1"
py-sr25519-bindings = "==0.1.4"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.21"
pycryptodome = "==3.15.0"
pydantic = "==1.9.0"
pymongo = "==4.2.0"
pynacl = "==1.5.0"
pyparsing = "==3.0.9"
pyrsistent = "==0.18.1"
python-mbedtls = "==2.2.0"
requests = "==2.22.0"
rlp = "==2.0.1"
rsa = "==4.9"
six = "==1.16.0"
sniffio = "==1.2.0"
starlette = "==0.19.1"
toolz = "==0.12.0"
types-certifi = "==2021.10.8.3"
typing-extensions = "==4.3.0"
uritemplate = "==4.1.1"
urllib3 = "==1.25.11"
uvicorn = "==0.18.2"
varint = "==1.0.2"
web3 = "==5.29.0"
websockets = "==9.1"
yarl = "==1.8.1"
zipp = "==3.8.1"

[dev-packages]

[requires]
python_version = "3.7"
